<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Thank you, [First Name]</h1>
    <p class="lead">You are heading off to [destination]</p>

<table class="table">
  <caption>Trip summary</caption>
  <thead>
    <tr>
      <th>Itinerary</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Flight</td>
      <td>United 102</td>
    </tr>
    <tr>
      <td>Hotel</td>
      <td>4 Star at the Westin</td>
    </tr>
    <tr>
      <td>Car</td>
      <td>Hertz Convertible</td>
    </tr>
    <tr>
      <td>Broadway Show</td>
      <td>4 tickets to Les Miserable</td>
    </tr>
  </tbody>
</table>

  </div>
</header>
