<div class="row">
	<header class="jumbotron subhead" id="overview">
	  <div class="container">
	    <h1>Around the World in 60 days</h1>
	    <p class="lead">Explore new places and experience new things</p>
	    <div class="well">
			<form class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">From</label>
			    <div class="controls">
			      <input type="text" id="inputEmail" placeholder="San Francisco, California">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="inputPassword">To</label>
			    <div class="controls">
					<select name="place">
						<option>Chile, Peru</option>
						<option>Dallas, Texas, United States</option>
						<option>London, England</option>
						<option>Paris, France</option>
						<option>Seoul, South Korean</option>
						<option>Tokyo, Japan</option>
					</select>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
				<%= link_to 'Search', '/search', :class => 'btn btn-large btn-success' %>			  
			    </div>
			  </div>			  
			</form>			
		</div>
	  </div>
	</header>
</div>
