<div class="container">

	<div class="pull-left">
		<img src="http://placehold.it/200x150" class="thumbnail"><br/>
		<%= link_to 'Buy Now', '/checkout', :class => 'btn btn-large btn-success' %>			  	
	</div>

	<div class="pull-left">
		<img src="http://placehold.it/200x150" class="thumbnail"><br/>
		<%= link_to 'Buy Now', '/checkout', :class => 'btn btn-large btn-success' %>			  	
	</div>

	<div class="pull-left">
		<img src="http://placehold.it/200x150" class="thumbnail"><br/>
		<%= link_to 'Buy Now', '/checkout', :class => 'btn btn-large btn-success' %>			  	
	</div>


</div>